@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  word-break: break-all;
}

@page :first {
  margin: 0;
  box-shadow: none;
  border:0;
}

.layout{
  transition: 600ms ease-in-out transform;
}

@media print
{
    .layout { border-block:  none !important; box-shadow: none !important; min-height: 100vh; transform: scale(1) !important; } 
}


.editor-container::-webkit-scrollbar {
  width: 6px;
}
 
.editor-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}
 
.editor-container::-webkit-scrollbar-thumb {
  background-color: rgb(64, 64, 64);
  outline: 1px solid rgb(3, 31, 59);
}